[General]
DomainName="domain name"
OUPaths="OU=OU NAME,OU=OU NAME,DC=domain,DC=com";"OU=OU NAME,OU=OU NAME,DC=domain,DC=com";n...

[Locations]
OutputPath="..\DataStore\SQLServerInstances.csv"
ErrorLogPath="error.log"

[Other]
CMS="cmsserver\instance"
